<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AirTicket.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
  <add name="AirTicketEntities" connectionString="metadata=res://*/TicketDB.csdl|res://*/TicketDB.ssdl|res://*/TicketDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THUAN-PC\MASTER_SERVER;initial catalog=AirTicket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <userSettings>
    <AirTicket.Properties.Settings>
      <setting name="vnAirToken" serializeAs="String">
        <value>Bearer T1RLAQJBdhXbg+kLXH7xq0GZh9FyL+1RIBC1XyFzf/T0hsCblWj+WvlDAACw3ZZqYcNcxS5NWqqvXFCOm4AUP3+XAvJIErS3XxYZS+ShlxbSEYcX1nKGp2IbBbSzBSaRTpgOTymBQisUFRn4s6+ChH0xq1DFBaUzeIZOU26gkUnfin/96Dlc9MARp+L7pPZxET+O+lNRoM9Uy02YXxVVkEVs9Euc4dGaLSWMvLjnwLEkjM0lKHoSxSt7TyPeer83vuVjNgO1L1xKk1ASkmxMFVb82Hdp3nxVOdPRZbo*</value>
      </setting>
    </AirTicket.Properties.Settings>
  </userSettings>
</configuration>